{% block content -%}
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for hoja in entity %}
            <li data-target="#carousel-example-generic" data-slide-to="{{hoja.id}}" class="active"></li>
            {%endfor%}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% set i = 0 %}
        {% for hoja in entity %}
            {% if i == 0 %}
                <div class="item active">

                {% else %}
                    <div class="item">
                    {%endif%}
                    <div class="carousel-caption">
                        <span class="badge bg-red">{{hoja.numero}}</span>
{#                        <h4>Hoja </h4>#}
                        <a class="btn-sm btn-primary" href="{{app.request.basePath ~ '/uploads/expedientes/' ~hoja.documento.expediente.id~'/'~hoja.documento.id~'/'~ hoja.pathImagen }}" target="_blank">
                            <span class="fa fa-search-plus"> </span></a></p>

                    </div>
                    <img src="{{app.request.basePath ~ '/uploads/expedientes/' ~hoja.documento.expediente.id~'/'~hoja.documento.id~'/'~ hoja.pathImagen }}" alt="...">

                    {% set i=i+1 %}
                </div>
            {%endfor%}

        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    {% endblock %}