    {% extends 'ThemeBundle:Default:layout_base.html.twig' %}
{% set title = 'Edicion Provincia' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content_title %}
Formulario de Edicion
{% endblock %}
    {% block content -%}

    <div class="row">
        <div class="col-xs-12 col-sm-12">            
           <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Provincia</h3>
                </div>
                <form action="{{ path('provincia_update', { 'id': entity.id }) }}" role="form" method="post">
                    <div class="box-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Actualizar
                            </button>

                            <a class="btn btn-default" href="{{ path('provincia') }}">
                                Volver
                            </a>

                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>


            {% endblock %}


