{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content -%}

    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-offset-2">
                <h2>Colegio de Abogados de la Provincia de Misiones</h2>

            </div
            <div class="col-xs-12">
                <div class="col-lg-offset-4">
                    <img class="img-responsive pad" alt="logo empresa"
                         src="{{ asset('/bundles/theme/images/logo.jpg') }}">
                </div>
            </div>
        </div>
    </div>



{% endblock %}

