{% extends 'ThemeBundle:Default:layout_base.html.twig' %}

{% block content -%}

    <div class="row">
        <div>
            <img  style="margin: 0 auto;" class="img-responsive pad" alt="logo empresa"
                  src="{{ asset('/bundles/theme/images/logo.png') }}">
        </div>
    </div>



{% endblock %}

